<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chessboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="labels-row">
        <div class="lr">a</div>
        <div class="lr">b</div>
        <div class="lr">c</div>
        <div class="lr">d</div>
        <div class="lr">e</div>
        <div class="lr">f</div>
        <div class="lr">g</div>
        <div class="lr">h</div>
    </div>
    <div class="board-with-col">
        <div class="labels-col">
            <div class="lr">8</div>
            <div class="lr">7</div>
            <div class="lr">6</div>
            <div class="lr">5</div>
            <div class="lr">4</div>
            <div class="lr">3</div>
            <div class="lr">2</div>
            <div class="lr">1</div>
        </div>
        <div id="chessboard">
        </div>
    </div>
    <div class="white-captured"></div>
    <div class="black-captured"></div>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>

</body>
</html>
